
<div class="container-fluid my-5 py-5" id="contact">
    <div class="container text-center">
        <h2>Contact opnemen<span>.</span></h2>
        <hr  class="w-25">
        <P class="py-2">
        Ben je nieuwsgierig geworden naar de mogelijkheden<span>?</span> <br>Neem contact met mij op<span>!</span>
        </P>
<a href="/" class="btn btn-info w-25">Neem contact op! &rarr;</a>
    </div>
</div>


<div class="container-fluid text-center" id="footer">
    <img src="../img/3dwd-1.png" alt="3dwd logo" class="img-fluid">
<div class="col d-md-block d-none" id="footer-links">
    <a href="/">Privacy Policy</a> | 
    <a href="/">Over 3DWD</a> | 
    <a href="/">Sitemap</a> | 
    <a href="/">Contact</a> 
    <a href="/"></a> 
</div>
</div>
