  <nav class="container-fluid navbar navbar-dark navbar-expand-lg row m-0 ">
      <a id="brand" href="/">
        Niek van Losenoord
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="col-md-7 ml-auto mt-1 collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="nav-links" class="navbar-nav">
        <li class="d-inline pr-5"><a href="/portfolio"> Portfolio </a></li>
        <li class="d-inline pr-5"><a href="/overig">Overige Projecten </a></li>
        <li class="d-inline "><a href="/contact">Contact </a></li>
      </ul>
    </div>
</nav>
