{{!--<nav class="fixed-top">--}}
{{!--  <div class="container-fluid scrolled-nav">--}}
{{!--    <brand>--}}
{{!--      <img src="img/3dwd-1.png" class="img-fluid pt-1" id="brand">--}}
    {{!--<brand><img src="img/brand-down.png" class="img-fluid">--}}
{{!--    <div class="nav-menu">--}}
{{!--    </div>--}}
{{!--    </brand>--}}
{{!--      <img src="img/menu.png" id="menu">--}}
{{!--      <img src="img/menu-down.png" class="menu-down" >--}}
{{!--  </div>--}}
{{!--</nav>--}}

<nav class="">
  <div class="container-fluid">
    <brand>
      <a href="/">
        <img src="../img/3dwd-1.png" class="img-fluid" id="brand">
      </a>
    </brand>
  </div>
</nav>

<div class="button_container" id="menu">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <div class="overlay-menu">
      <ul>
      <li ><a class="my-1 active" href="/">Home</a></li>
      <li><a class="my-1" href="/diensten">Diensten</a></li>
      <li><a class="my-1" href="/portfolio">Portfolio</a></li>
      <li><a class="my-1" href="/contact">Contact</a></li>
    {{!--  <li><a class="my-1" href="/diensten">CMS</a></li>--}}
      <li><a class="my-1" href="/portfolio">Blog</a></li>
      <li ><a class="my-1" href="/">Over 3DWD</a></li>
    {{!--  <li><a class="" href="/contact">Webshop</a></li>--}}
    </ul>
  </div>
</div>