
<nav class="">
  <div class="container-fluid">
    <brand>
      <a href="/">
        <img src="../img/brand.png" class="img-fluid p-4" alt="3dwd logo" id="brand">
      </a>
    </brand>
  </div>
</nav>

<div class="button_container" id="menu">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <div class="overlay-menu">
    <div class="row">
      <div class="col-6">
        <ul>
      <li ><a class=" active" href="/">Home</a></li>
      <li><a class="" href="/diensten">Diensten</a></li>
      <li><a class="" href="/portfolio">Portfolio</a></li>
      <li><a class="" href="/contact">Contact</a></li>
      <li><a class="" href="/portfolio">Blog</a></li>
      <li ><a class="" href="/">Over 3DWD</a></li>
      <li><a href="/blog-laten-maken-in-emmen">blog-laten-maken-emmen</a></li>
      <li><a href="/goedkoop-website-maken">goedkoop-website-maken</a></li>
      </ul>
      </div>
      <div class="col-6">
        <ul>
      <li><a href="/goedkoop-webshop-laten-maken-emmen">goedkope-webshop</a></li>
      <li><a href="/gratis-website">gratis-website</a></li>
        <li><a href="/seo-emmen">seo-emmen</a></li>
      <li><a href="/web-development-bedrijf-emmen">web-development-bedrijf-emmen</a></li>
      <li><a href="/web-development-emmen">web-development-emmen</a></li>
      <li><a href="/webshop-laten-maken-emmen"><webshop-laten-maken-emmen/a></li>
      <li><a href="/website-bouwen-emmen">website-bouwen-emmen</a></li>
      <li><a href="/website-emmen">website-emmen</a></li>
      <li><a href="/website-sponsor">website-sponsor</a></li></ul>
      </div>
    </div>
    </ul>
  </div>
</div>