body{
  /*overflow-y:hidden;*/
}

#contact-form{
  overflow: hidden;
}

#contact-form input, textarea{
  color:white;
  border-bottom:1px solid white;
  border-top:0px solid green;
  border-left:0px solid green;
  border-right:0px solid green;
  background:transparent;
}

::placeholder{
  opacity:1;
  color:white;
  font-weight:200;
}

::placeholder:focus{
  color:transparent;
}

#contact-form .col-md-10{
  color:white;
  padding-top:15vh;
}

#contact-form{
  height:100vh;
  background: url('../img/diensten.png');
  background-size: cover;
  background-position: bottom;
}

@media only screen and (max-width: 600px) {
  #contact-form{
    height:100%;
  }
  #contact-form .col-md-5{
    border:none!important;
  }
}