body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background:#e8e8e8;
  font-family: 'Cousine', monospace;
  overflow-x: hidden;
}

/**{*/
/*  border:.1px solid red;*/
/*}*/

/*GLOBAL*/
span{
  color:#2e2e2e;
}


/*HEADER*/

nav{
  /*position: absolute;*/
  padding:20px;
  background:#58B9FF;
  width:100vw;
}

nav a{
  color:white;

}

nav a:hover{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

#portfolio div{
  background:#E8E8E8;
   height:auto;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}

#brand{
  font-size:34px;
}

.mt{
  margin-top:100px;
}

.mb{
  margin-bottom:100px;
}

.btn-light{
  border-radius: 0px;
  box-shadow:10px 10px 0px rgba(0,0,0,.4);
}

/*INDEX*/

#main{
  color:white;
  height:100vh!important;
  background:#58B9FF;
  background-size:cover!important;
  background-position: bottom!important;
}

#main .container{
  padding-top: 25vh
}

#diensten:nth-child(1) a{
  color:black;
  padding:10px;
}

#blue{
  background:#58B9FF;
  /*height:600px;*/
}

#overig .col-md-3{
  border:.1px solid gray;
}

.courses a{
  background:white;
  color:#464646;
  padding:5px;
}

#dark{
  background:#2e2e2e;
  /*height:600px;*/
  color:white;
}

#grey{
  background:#464646;
  color:white;
}


@media only screen and (max-width: 600px) {
  #main h1{
    font-size:32px;
  }  
  .pad{
    padding:0px!important;
  }
  #main{
    font-size: 14px;
    /*margin-top:30vh;*/
    background-image: url(../img/main-mob.png)
  }
  #main .container{
    padding-left:0px;
    padding-right:0px;
    padding-top:15vh!important;
  }
  .diensten-responsive{
    background-image: url('../img/diensten-mob.png')!important;
    
  }
}

@media only screen and (min-height: 1000px) and (max-height: 1080px) and (min-width:700px) and (max-width:1200px) {
  .pad{
    padding:0px!important;
  }
  #main .container{
    padding-left:0px;
    padding-right:0px;
    padding-top:15vh!important;
  }
  div{
    padding:0px;
  }
  .w-75{
    width:100%!important;
  }
  p{
    font-size:14px!important;
  }
  #dark  h2{
    font-size:20px;
  }
}

@media only screen and (min-height: 1000px) and (min-width:1900px) {
  p{
    font-size:24px;
  }
  .w-75{
    width:50%!important;
  }
}

