<link rel='stylesheet' href='/css/blog.css'/>
{{> header }}
<div class="container-fluid text-center" id="main">
    <div class="container px-5">
        <h1 class="display-3 thin">Blog<span>.</span></h1>
        <hr class="w-25">
        <div class="row">
            <div class="col-md-6 mx-auto">
                    <p>
                        Een verzameling artikelen die je kunnen helpen bij het maken van de juiste keuze voor jouw <span>website</span>.
                    </p>
                </div>
        </div>
        <a href="/" class="btn mt-3 btn-light">Neem contact op! <span>&rarr;</span></a>
    </div>
</div>
<div class="container-fluid" id="blog">
    <div class="col-md-8 mx-auto mt">
            <div class="row">
                <div class="col-md-4"><img src="../blog/wordpress.png" class="img-fluid" alt="Nadelen van Wordpress"></div>
                <div class="col-md-8">
                    <h2>De nadelen van WordPress.</h2>
                    <p>
                        Hoewel Wordpress een goede keuze kan zijn voor je nieuwe website, is het in veel opzichten beter en voordeliger om een website te laten bouwen.
                    </p>
            <div class="text-center col">
                <a href="#" class="btn btn-warning text-center">Lezen</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " id="blog">
    <div class="col-md-8 mx-auto mt">
            <div class="row">
                <div class="col-md-4"><img src="../blog/webshop.png" class="img-fluid" alt="De juiste webshop kiezen"></div>
                <div class="col-md-8">
                    <h2>De juiste webshop kiezen.</h2>
                    <p>
                        Als je al onderzoek hebt gedaan naar de mogelijkheden voor een webshop, dan heb je waarschijnlijk al veel advertenties voorbij zien komen van 'goedkope' sites waar je zelf een webshop kunt maken. In dit artikel zetten de de daadwerkelijke kosten van deze webshops onder elkaar.
                    </p>
            <div class="text-center col">
                <a href="#" class="btn btn-warning text-center">Lezen</a>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " id="blog">
    <div class="col-md-8 mx-auto mt">
            <div class="row">
                <div class="col-md-4"><img src="../blog/responsive.png" class="img-fluid" alt="responsive webdesign"></div>
                <div class="col-md-8">
                    <h2>Over Responsive webdesign</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempora assumenda vel qui officiis beatae consectetur delectus iure inventore laboriosam fugiat rem nihil tenetur totam, impedit minus. Velit, quod, perferendis!</p>
            <div class="text-center col">
                <a href="#" class="btn btn-warning text-center">Lezen</a>
            </div>
            </div>
        </div>
    </div>
</div>

{{> footer }}
