<link rel='stylesheet' href='/css/contact.css'/>
{{> header }}

<div class="container-fluid" id="contact-form">
    <div class="container">
        <div class="col-md-10 pt">
        <form action="/contact" method="post">
            <div class="row">
                <div class="col-md-5 pad t-5 pr-5" style="border-right:2px solid white">
                <h3>Vul het contactformulier in</h3>
    <input type="text" id="fname" name="firstname" class=" my-2" placeholder="Naam">
    <input type="tel" id="phone" name="phone" class=" my-2" placeholder="Telefoon (optioneel)">
    <input type="tel" id="mail" name="mail" class=" my-2" placeholder="E-mail">

    <textarea id="subject" name="subject" placeholder="Bericht" class=" my-2"></textarea>
         <button class="btn btn-white mt-2 " type="submit">Versturen</button>
           
                </div>
                <div class="col-md-6 pad my-5 text-left">
                    <strong>//Email</strong><br>
                    Niek_losenoord@hotmail.com<br><br>
                    <strong>//Telefoon</strong><br>
                    0683702569<br>
                    +31683702569<br><br>
                    <strong>Whatsapp Messenger</strong><br>
                    +0692183921<br><br>
                    <strong>//Facebook Messenger</strong><br>
                    <a href="/">https://www.fb.me.chat</a>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>

{{> footer }}
