{{> header }}
<div class="container-fluid text-center" id="main">
    <div class="container px-5">
        <h1 class="display-3 thin">Diensten<span>.</span></h1>
        <hr class="w-50">
        <div class="row">
            <div class="col-md-6 mx-auto"><p>Ontdek de mogelijkheden van een waardevolle samenwerking.</div>
            {{!--<div class="col-md-6"><p>Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het design of <span><strong>functionaliteit</strong></span></p></div>--}}
        </div>
        <a href="/" class="btn mt-3 btn-light">Hello <span>&rarr;</span></a>
    </div>
</div>
<div id="portfolio-mobile">
<div id="diensten-all">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h2 class="d-md-none d-block text-center">Responsive <span>Web</span>design</h2>
            <div class="col-md-6 text-center">
                <img src="portfolio/webdesign.png" class="img-fluid" alt="webdesign" style="z-index:100;">
                <a href="/" class="btn btn-info mb-5 ">Wat is responsive webdesign?</a>
            </div>
            <div class="col-md-6"><h2 class="mt d-md-block d-none">Responsive <span>Web</span>design</h2>
            <p>
                In 2019 is Responsive webdesign belangrijker dan ooit! <br>Wist je dat meer dan 60% van alle bezoekers via Google gebruik maken van hun smartphone om websites te bezoeken?<br> Als je website niet geschikt is voor smartphones kan je dus veel potentiele klanten mislopen.
            </p>
                            <h4 class="text-right py-2">Eerste design<strong><span> gratis</strong></span>.</h4>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="diensten">
    <div class="container">
        <h2 class="mt d-md-none d-block text-center pt-5"><span>Website</span> laten bouwen</h2>
        <div class="row">
            <div class="col-md-6 text-center d-md-none d-block"><img src="portfolio/trillo-min.png" alt="website" class="img-fluid d-md-none d-block"></div>
            <div class="col-md-6 text-right "><h2 class="mt d-md-block d-none"><span>Website</span> laten bouwen</h2>
            <p>
                Afhankelijk van het doel van de website kan deze zo simpel of geavanceerd zijn zoals jij wilt.<br>
                Om deze reden kan je bij mij een website goedkoop laten maken. Bekijk voor een impressie van mijn werk mijn <a href="/portfolio" id="yellow-text"><strong>portfolio</strong></a>.
            </p>
                <strong><h4 class="text-right py-2">Vanaf <span>€99,-</h4></strong></span>
            </div>
            <div class="col-md-6 text-center d-md-block d-none"><img src="portfolio/trillo-min.png" class="img-fluid" alt="Website">
                <a href="/" class="btn btn-light mt-2 mb-5">Portfolio bekijken!</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
            <h2 class="mt d-md-none d-block pt-5 text-center"><span>Blog</span><br> laten maken</h2>
        <div class="row">
            <div class="col-md-6 text-center"><img src="portfolio/med.png"  class="img-fluid" alt="blog">
            <a href="/" class="btn btn-info mt-2 mb-5">Live demo bekijken!</a>
            </div>
            <div class="col-md-6"><h2 class="mt d-md-block d-none text-center"><span>Blog</span> laten maken</h2>
            <p>
                Wil je een blog beginnen of is jouw blog aan vernieuwing toe?<br>
                Dan zijn er natuurlijk genoeg mogelijkheden waaruit je kunt kiezen, zoals WordPress.
                Een van de nadelen van WordPress is dat het vaak op de lange termijn duur uitpakt.
                <hr>
                De blogs die ik bouw hebben dit probleem echter niet en je hebt alle controle die je gewend bent van een WordPress website.
                <strong><h4 class="text-right py-2">Vanaf <span>€199,-</h4></strong></span>
            </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center" id="diensten">
    <div class="container">
            <h2 class="pt-5 d-md-none d-block text-center">Begin een <br><span> Portfolio</span>.</h2>
        <div class="row">
            <div class="col-md-6 text-center d-md-none d-block"><img src="portfolio/prt.png" alt="portfolio" class="img-fluid">
            <a href="/" class="btn btn-light mt-2 mb-5">Live demo bekijken!</a>
            </div>
            <div class="col-md-6 text-left"><h2 class="mt d-md-block d-none">Begin een<span>Portfolio</span>.</h2>
            <p>
                Zorg dat iedereen overal jouw werk kan zien met een prachtig Portfolio!<br>
                De focus bij een portfolio ligt voornamelijk bij een passende design die helemaal op maat gemaakt is voor jou.
                Ook heb je de vrijheid om wanneer je wilt nieuwe projecten toe te voegen aan je portfolio.
                <strong><h4 class="text-right py-2">Vanaf <span>€199,-</h4></strong></span>
            </p>
            </div>
            <div class="col-md-6 text-center d-md-block d-none"><img src="portfolio/prt.png" alt="portfolio" class="img-fluid">
            <a href="/" class="btn btn-light mt-2 mb-5">Live demo bekijken!</a>
            </div>
        </div>
        </div>
    </div>
<div class="container-fluid" >
    <div class="container">
        <div class="row">
                <h2 class="mt d-md-none pt-5 d-block text-center"><span>Webshop</span> laten maken.</h2>
            <div class="col-md-6 text-center"><img src="portfolio/websh.png" alt="webshop" class="img-fluid">
            <a href="/" class="btn btn-info mt-2 mb-5">Live demo bekijken!</a>
            </div>
            <div class="col-md-6"><h2 class="mt d-md-block d-none"><span>Webshop</span> laten maken</h2>
            <p>
                De webshops die ik bouw zijn snel, makkelijk te gebruiken en goedkoop in onderhoud. Je krijgt toegang tot uw eigen dashboard waarin je orders kunt zien <span>&</span> archiveren, producten kunt toevoegen, aanpassen en verwijderen.<br> Betalingen worden geregeld via <span><a href="https://www.stripe.nl" id="yellow-text" >Stripe</a></span>, hierin kun je kiezen uit vele betaalmogelijkheden zoals bijvoorbeeld iDeal, CreditCard, of IBAN.
            </p>
             <strong><h4 class="text-right py-2">Vanaf <span>€499,-</h4></strong></span>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid " id="diensten">
    <div class="container">
        <div class="row">
                <h2 class="mt pt-5 d-md-none d-block text-center">Heb je een ander<span> idee</span>? </h2>
            <div class="col-md-6 d-md-none d-block text-center"><img src="portfolio/qmark.png" alt="vraagteken laptop" class="img-fluid"></div>
            <div class="col-md-6 text-right">
                <h2 class="mt d-md-block d-none">Heb je een ander<span> idee</span>? </h2>
                
             Ik zou naar jouw wens allerlei op maat gemaakte software in kunnen bouwen, zoals een gedeelde agenda voor u en uw klanten, een speciaal inlogsysteem of een afsprakensysteem.
             Neem contact op, dan kunnen we samen even brainstormen over de mogelijkheden.
            </p>
                {{!--<strong><h4 class="text-right pt-2">Vanaf <span>€99,-</h4></strong></span>--}}
            </div>
            <div class="col-md-6 d-md-block d-none text-center"><img src="portfolio/qmark.png" alt="vraagteken laptop" class="img-fluid">
    </div>
</div>
</div>
</div>
</div>
</div>

{{> footer }}
