{{>header}}

<div id="overig" class="text-center">
    <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/LvKGbL"> 
                <h2>CSS iPhone</h2>
                <p class="text-muted">Een iPhone compleet gemaakt van CSS</p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/QPPWOP">
                <h2>Simpele spinner</h2>
                <p class="text-muted">Een simpele loader</p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/YMgmMo"> 
                <h2>Screens loader</h2>
                <p class="text-muted">
                    Een loader voor de applicatie 'screens'
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/MxVVEB"> 
                <h2>Binary test</h2>
                <p class="text-muted">
                    Een applicatie om je binary kennis te testen
                </p>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pens/public/3/"> 
                <h2>GRID laadscherm</h2>
                <p class="text-muted">Een laadscherm voor de applicatie 'GRID'</p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/BEYpEa">
                <h2>CSS geanimeerd vuur</h2>
                <p class="text-muted">
                    Een animatie voor de applicatie 'protestradar'
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/zXwLbG"> 
                <h2>The Holmes Rahe life stress inventory test</h2>
                <p class="text-muted">
                    Een applicatie gemaakt met de gegevens van een test van 2 bekende psychologen
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/BEWprO?editors=0010">
                <h2>Multitap Keyboard Challenge</h2>
                <p class="text-muted">
                    Een Javascript challenge die berekent hoeveel keypresses je moet maken op een oud multitap keyboard
                </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/jRyMgG">
                <h2>Validate Creditcard Algorithm </h2>
                <p class="text-muted">
                    A JavaScript challenge om een algorithme te schrijven om creditcards te valideren. 
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pens/public/6/">
                <h2>Diamond Challenge</h2>
                <p class="text-muted">
                    Een Javascript challenge om een diamant te console.loggen
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/VNaJYE">
                <h2>Battle of middle earth</h2>
                <p class="text-muted">
                    Bereken of het goed of het kwaad zal winnen
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/ZZLJPr">
                <h2>Joggers challenge</h2>
                <p class="text-muted">
                    Bereken wanneer 2 joggers elkaar tegenkomen
                </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/axdxPZ?editors=1010">
                <h2>Highlight</h2>
                <p class="text-muted">
                    A JavaScript challenge om een highlight functie te schrijven. 
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/OGVmyP">
                <h2>ROT13 algorithme</h2>
                <p class="text-muted">
                    Codeer een bericht volgens het ROT13 algorithme.
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/ROPQqP">
                <h2>RGB naar HEX</h2>
                <p class="text-muted">
                    Converteer een RGB naar Hex kleurcode.
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/ZZLJPr">
                <h2>JadenCase</h2>
                <p class="text-muted">
                    Vervang elke eerste letter van een woord door een hoofdletter.
                </p>
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/axdxPZ?editors=1010">
                <h2>Mumbling</h2>
                <p class="text-muted">
                    Een Javascript challenge. 
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/OGVmyP">
                <h2>printer_error</h2>
                <p class="text-muted">
                    Schrijf een functie die informatie geeft over een error van een printer
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/JzVLQP">
                <h2>Validate PIN </h2>
                <p class="text-muted">
                    Schrijf een functie die een PIN code kan valideren.
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/ZZLJPr">
                <h2>Population growth</h2>
                <p class="text-muted">
                    Bereken hoeveel jaar het duurt voordat een bevolking is gegroeit naar een gewenst aantal.
                </p>
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/ywwPbE">
                <h2>complementary DNA</h2>
                <p class="text-muted">
                    Schrijf een functie die verwante DNA strands aan elkaar koppelt.
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/vPjxde">
                <h2>YouTube multivideo </h2>
                <p class="text-muted">
                    Een simpele app waarmee je meerde YouTube videos tegelijk kunt kijken
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/NJaOMM?editors=0011">
                <h2>Geolocation API </h2>
                <p class="text-muted">
                    Een simpele app die je locatie kan vaststellen.
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/vbwQYJ?editors=0011">
                <h2>Check input for keywords</h2>
                <p class="text-muted">
                    Een simpele app die een string controleert voor bepaalde combinaties van woorden.
                </p>
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/axdxPZ?editors=1010">
                <h2>Hexadecimal ID Generator</h2>
                <p class="text-muted">
                    Een simpele functie die unieke ID's kan genereren.
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/JxVJdJ">
                <h2>Gibberish Generator</h2>
                <p class="text-muted">
                    Genereer een willekeurige string.
                </p>
            </a>
        </div>
                <div class="col-md-3 p-5">
            <a href="https://codepen.io/Nkvnl/pen/omdEXj">
                <h2>Simpele Range Slider</h2>
                <p class="text-muted">
                    Een kleine demo van een HTML range input.
                </p>
            </a>
        </div>
        <div class="col-md-3 p-5">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
    
{{> footer }}
