{{> header }}
<div class="container-fluid text-center" id="main">
    <div class="container px-5">
        <h1 class="display-3 thin">Bekijk mijn recente projecten<span>.</span></h1>
        <hr>
        <div class="row">
            {{!--<div class="col-md-6"><p>Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het <span><strong>design</strong></span> of functionaliteit.</p></div>--}}
            <div class="col-md-6 mx-auto"><p>Om een goede indruk te geven van wat ik doe, heb ik een lijst samengesteld met mijn <span>recente projecten</span>.</p></div>
        </div>
        <a href="/" class="btn mt-3 btn-light">Neem contact op! <span>&rarr;</span></a>
    </div>
</div>

<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center display-4 mt">Guchelaar Auto Detailing<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/social.png" alt="Guchelaar auto detailing">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 23 December 2018<br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-gad.png" class="img-fluid" alt="Guchelaar auto detailing"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                In opdracht van Guchelaar Auto Detailing heb ik een goedkope website gebouwd.<br> De wensen van de klant waren simpel. Een goedkope website met een portfolio, informatie over producten en een contact formulier, die goed vindbaar zou zijn via Google.        
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>

<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center display-4 mt">Avondschool Emmen<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/ave1.png" alt="Avondschool Emmen">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - <strong>In ontwikkeling</strong><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-ave.png" class="img-fluid" alt="Avondschool Emmen"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    Voor Avondschool Emmen ben ik druk bezig met het ontwerpen en bouwen van een gloednieuwe website.<br><br> Hou mijn <a href="" id="yellow-text">Facebook pagina</a> in de gaten voor meer informatie.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Nog in ontwikkeling!</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Sur5mm<span>.nl</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/sur5social.png" alt="sur5mm">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - <strong>In ontwikkeling</strong><span>/</span><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-s5.png" class="img-fluid" alt="sur5mm kleuren"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    Kortgeleden ben ik de samenwerking met sur5mm aangegaan. Ik ben een prachtige website aan het bouwen waar klanten de mogelijkheid hebben om direct via de website activiteiten te huren.<br><br> Hou mijn <a href="" id="yellow-text">Facebook pagina</a> in de gaten voor meer informatie.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Nog in ontwikkeling &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>

<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Ruimtevrij<span>.nl</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/social-media-ruimtevrij.png" alt="ruimtevrij.nl">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 13 December 2018<br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-rv.png" class="img-fluid" alt="ruimtevrij palette"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    Voor Ruimtevrij in Emmen heb ik recent de website vernieuwd. Het moest een simpele maar mooie website zijn die op alle apparaten goed werkte.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Boo at the Zoo<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/batz-p.png" alt="boo at the zoo">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 18 september 2018 <span>/</span><br> <span>Laatste update</span> - 2 Januari 2019 <span>/</span><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-batz.png" class="img-fluid" alt="boo at the zoo kleuren"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    In samenwerking met de organisatie van Boo at the Zoo in Emmen heb ik een website gebouwd. Het was de bedoeling om de website door middel van illustraties en opvallende kleuren te laten ogen als een aanplakbiljet.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Lied van de Merel<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/merelsocial.png" alt="lied van de merel">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 7 Juli 2018 <span>/</span><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-lvdm.png" class="img-fluid" alt="lied van de merel kleuren"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    De wensen van de klant waren simpel, een mooie en warme website die vooral niet al te duur zou uitpakken.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Stiltetuin De Stroetenhof<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/stiltetuin mockup.png" alt="stiltetuin">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 7 Juli 2018 <span>/</span><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/palette-stds.png" class="img-fluid" alt="stiltetuin kleuren"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    Ik heb voor Stiltetuin de stroetenhof de website vernieuwd. Na inspiratie opgedaan te hebben op locatie was het resultaat en kalme website die goed weergeeft hoe mooi de stiltetuin is.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


<div class="container-fluid"  style="position:relative;">
    <div class="container">
            
                <h2 class="text-center mt display-4">Passier Muziek Emmen<span>.</span></h2>   
        <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="../portfolio/passier-min.png" alt="passier muziek emmen website">
            </div>
            <div class="col-md-4 pt-5">
                <p><span>Online sinds</span> - 7 Juli 2018 <span>/</span><br>
                <span>Kleuren </span> - 
                <img src="../portfolio/palettes/pal-pm.png" class="img-fluid" alt="passier muziek emmen website"><br>
                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                    De oude website van Passier muziek Emmen moest nodig naar het jaar 2018 getild worden. De nieuwe website is simpel, overzichtelijk en snel.
                </p>    
                <br>
                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
</div>


{{!--<div class="container-fluid"  style="position:relative;">--}}
{{!--    <div class="container">--}}
            
{{!--                <h2 class="text-center mt display-4">Liefde geeft licht<span>.</span></h2>   --}}
{{!--        <div class="row">--}}
{{!--            <div class="col-md-7">--}}
{{!--              <img class="d-block w-100" src="../portfolio/lgl-min.png">--}}
{{!--            </div>--}}
{{!--            <div class="col-md-4 pt-5">--}}
{{!--                <p><span>Online sinds</span> - 7 Juli 2018 <span>/</span><br>--}}
{{!--                <span>Kleuren </span> - --}}
{{!--                <img src="../portfolio/palettes/pal-lgl.png" class="img-fluid"><br>--}}
{{!--                <span>Categorie</span> - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>--}}
{{!--                </p>--}}
{{!--                <p>--}}
{{!--                In opdracht van Guchelaar Auto Detailing heb ik een goedkope website gebouwd.<br> De wensen van de klant waren simpel. Een goedkope website met een portfolio, informatie over producten en een contact formulier, die goed vindbaar zou zijn via Google.        --}}
{{!--                </p>    --}}
{{!--                <br>--}}
{{!--                <a href="/" class="btn btn-info d-block">Bekijk de website! &rarr;</a>--}}
{{!--                </div>--}}
{{!--                <div class="col"></div>--}}
{{!--            </div>--}}
{{!--        </div>--}}
{{!--</div>--}}

{{> footer }}
