{{> header }}
<div class="container-fluid text-center" id="main">
    <div class="container px-5">
        <h1 class="display-3 thin">Ik design <span>&</span> bouw websites<span>.</span></h1>
        <hr>
        <div class="row">
            <div class="col-md-6"><p>Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het <span><strong>design</strong></span> of functionaliteit.</p></div>
            <div class="col-md-6"><p>Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het design of <span><strong>functionaliteit</strong></span></p></div>
        </div>
        <a href="/" class="btn mt-3 btn-light">Hello <span>&rarr;</span></a>
    </div>
</div>

{{> footer }}
