{{> header }}
<div class="container-fluid text-center" id="main">
    <div class="container px-5">
        <h1 class="display-3 thin">Webdesign <span>&</span> Website bouw<span>.</span></h1>
        <hr>
        <div class="row">
            <div class="col-md-6 mx-auto">
                    <p>
                    Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het <span><strong>design</strong></span> of functionaliteit.
                    </p>
                </div>
        </div>
        <a href="/" class="btn mt-3 btn-light">Neem contact op! <span>&rarr;</span></a>
    </div>
</div>

<div class="container-fluid" id="_3d">
    <div class="container">
        <div class="mb mt">
            <div class="col-md-6 mx-auto"><h3 class="text-center">Hallo!</h3><hr id="yellow" class="w-50"><p>Mijn naam is Niek van Losenoord en ik ontwikkel websites.<br>
            Het is mijn doel om websites te bouwen voor elk budget, zodat ook de mensen die minder te investeren hebben een goede website kunnen laten bouwen.</p></div>
            <div class="col-md-6 mx-auto">
                <p>
                    Om een goede balans te vinden tussen een website die goedkoop is en een website die mooi afgewerkt is, hou ik mijn designs in deze gevallen zo simpel mogelijk. <br><br> Op deze manier zijn de websites niet alleen sneller te bouwen, maar zijn ze makkelijker te optimaliseren voor smartphones en zijn ze ook nog snel in gebruik.
                </p>
                {{!--<div class="text-center">--}}
                {{!--    <a href="/" class="btn btn-info">Meer... &rarr;</a>--}}
                {{!--</div>--}}
            </div>
            </div>
            
            
            
        {{!--<div class="row col-md-10 mx-auto">--}}
        {{!--    <div class="col-md-6 text-center py-2"> --}}
        {{!--        <p>--}}
        {{!--            Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het design of functionaliteit.--}}
        {{!--        </p>--}}
        {{!--    </div>--}}
        {{!--     <div class="col-md-6 text-center py-2"> --}}
        {{!--        <p>--}}
        {{!--            Mijn doel is om websites te bouwen voor elk budget, zonder dat dit ten koste gaat van het design of functionaliteit.--}}
        {{!--        </p>--}}
        {{!--    </div>--}}
        {{!--</div>--}}
    </div>
</div>


<div class="container-fluid text-light" id="portfolio">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container">
            
      <div class="row">
            <div class="col-md-7 text-center">
              <img class="d-block w-100" src="../portfolio/batz-p.png" alt="First slide">
                <a href="/" class="btn btn-light">Bekijk de website! &rarr;</a>
            </div>
            <div class="col-md-4 pt-5">
        <h2 class="text-center">Boo at the zoo<span>.</span></h2>   
        <hr id="yellow">
                <p>Online sinds - 23 December 2018<br>
                Kleuren  - 
                <img src="../portfolio/palettes/pal-batz.png" class="img-fluid"><br>
                Categorie - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                In samenwerking met de organisatie van Boo at the Zoo in Emmen heb ik een website gebouwd. Het was de bedoeling om de website door middel van illustraties en opvallende kleuren te laten ogen als een aanplakbiljet.                </p>    
                <br>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container">
            
        <div class="row">
            <div class="col-md-7 text-center">
              <img class="d-block w-100" src="../portfolio/social.png" alt="First slide">
                <a href="/" class="btn btn-light">Bekijk de website! &rarr;</a>
            </div>
            <div class="col-md-4 pt-5">
        <h2 class="text-center">Guchelaar Auto Detailing<span>.</span></h2>   
        <hr id="yellow">
                <p>Online sinds - 23 December 2018<br>
                Kleuren  - 
                <img src="../portfolio/palettes/pal-gad.png" class="img-fluid"><br>
                Categorie - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                In opdracht van Guchelaar Auto Detailing heb ik een goedkope website gebouwd.<br> De wensen van de klant waren simpel. Een goedkope website met een portfolio, informatie over producten en een contact formulier, die goed vindbaar zou zijn via Google.        
                </p>    
                <br>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
        <div class="carousel-item">
        <div class="container">
            
        <div class="row">
            <div class="col-md-7 text-center">
              <img class="d-block w-100" src="../portfolio/social-media-ruimtevrij.png" alt="First slide">
                <a href="/" class="btn btn-light">Bekijk de website! &rarr;</a>
            </div>
            <div class="col-md-4 pt-5">
        <h2 class="text-center">Ruimtevrij<span>.</span></h2>   
        <hr id="yellow">
                <p>Online sinds - 23 December 2018<br>
                Kleuren  - 
                <img src="../portfolio/palettes/pal-rv.png" class="img-fluid"><br>
                Categorie - Webdesign <span>/</span> Website bouwen <span>/</span> Zoekmachine Optimalizatie <span>/</span>
                </p>
                <p>
                Voor Ruimtevrij in Emmen heb ik recent de website vernieuwd. Het moest een simpele maar mooie website zijn die op alle apparaten goed werkte.                </p>    
                <br>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    {{!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>--}}
    <img src="icons/left.png" class="img-fluid">
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <img src="icons/right.png" class="img-fluid">
    {{!--<span class="carousel-control-next-icon" aria-hidden="true"></span>--}}
    
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

{{> footer }}
